{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="col-4 container bg-light border rounded p-4 my-5 text-center"><h1 class="text-center">Parolni tiklash</h1>
<p>Emailingizni kiriting. Reset link shu emailga yuboriladi (dev: terminalda chiqadi).</p>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<div class="text-center">
    <button class="btn btn-secondary" type="submit">Reset link yuborish</button>
    <p><a class="text-secondary" href="{% url 'login' %}">Login sahifaga qaytish</a></p></div>
</div>
</form>
{% endblock %}
