{% extends "base.html" %}
{% block title %}Set new password{% endblock %}
{% block content %}
<div class="col-4 container bg-light border rounded p-4 my-5 text-center">
    <h1 class="">Yangi parol o‘rnatish</h1>
{% if validlink %}
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-secondary">Parolni saqlash</button>
</form>
{% else %}
<div class="text-center">Reset link noto‘g‘ri yoki eskirgan. Iltimos qaytadan reset qiling.</div>
<a href="{% url 'password_reset' %}">Qayta reset qilish</a>
{% endif %}</div>
{% endblock %}
