{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit profile{% endblock %}
{% block content %}
<div class="container bg-light border rounded p-3 mx-auto my-5 col-4">
   <h1 class="text-center">Profilni tahrirlash</h1>
   <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form | crispy }}
       <button class="btn btn-secondary" type="submit">Saqlash</button>
       <a href="{% url 'profile' %}">Bekor qilish</a>
   </form>
</div>
{% endblock %}

