{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container bg-light border rounded p-3 mx-auto my-5 col-4 signup-form">
   <h1 class="text-center">Signup</h1>
   <form method="post">
       {% csrf_token %}
       <div class="">
        {{ form | crispy }}
       </div>
       <div class="text-center">
        <button class="m-3 btn btn-secondary" type="submit">Signup</button>
       </div>
   </form>
   <p class="text-center">Akkount bormi?<a class="text-secondary" href="{% url 'login' %}"> Login </a></p>
</div>
{% endblock %}
